@import url("https://cdn.jsdelivr.net/gh/wanteddev/wanted-sans@v1.0.1/packages/wanted-sans/fonts/webfonts/variable/split/WantedSansVariable.min.css");

:root {
  --color-main: #E56458;
  --color-black: #262626;
  --color-white: #FFFFFF;
  --color-gray: #7D7D7D;
  --color-light-gray: #BEBEBE;
  --color-light-light-gray: #E5E5E5;
  --color-light-main: #FAE0DE;

  font-family: "Wanted Sans Variable", sans-serif;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;

  overflow: hidden;
}

body {
  background: var(--color-white);
  font-family: "Wanted Sans Variable", sans-serif;
}

#root {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

button,
input,
textarea,
select {
  font: inherit;
}